.transactionHistory{
  /* text-align: center; */
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  color: #3f3f3f;
}
th, td {
  border: 1px solid brown;
  padding: 10px;

}

/* td[0]{
  color: blue;
} */

th{
  border-collapse: collapse;
    width: 60%;
}
tr{
  background-color: whitesmoke;

}

th:hover{
  background-color: azure;
}

td:hover{
  background-color: wheat;
}

table td:first-child{
  text-transform: uppercase;
  color: brown;
  font-weight: 600;
}
