.statistics{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
    width: 400px;
    height: auto;
    border: #212121 2px solid;
    border-radius: 5px;
  background-color: rgb(255, 229, 229);
    text-align: center;
}
.title{
  text-transform: uppercase;
  color: grey;
  font-size: 28px;
}

.title:hover{
  color: #212121;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms;
}

.statList{
  display: flex;
padding: 0;
margin: 0;
list-style: none;
width: 100%;
}

.item{
  display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    color: white;
    overflow: hidden;
    border: white 0.5px solid;
}

.item:hover{
  color: #212121;
  transition: color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms ;
}

.label{
  margin: 10px;
  font-size: 14px;
  font-weight: 600;
}
.percentage{
  margin-bottom: 10px;
  font-size: 22px;
}
